In [1]:
%matplotlib inline

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("whitegrid")

In [2]:
df = pd.read_csv("data/rt.movie_info.tsv.gz", delimiter="\t")
df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
id              1560 non-null int64
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: int64(1), object(11)
memory usage: 146.3+ KB

In [4]:
df.rating.unique()

array(['R', 'NR', 'PG', 'PG-13', nan, 'G', 'NC17'], dtype=object)

In [5]:
df.rating.isna().sum()

3

In [6]:
df.currency.unique()

array([nan, '$'], dtype=object)

In [7]:
df.box_office.unique()

array([nan, '600,000', '41,032,915', '224,114', '134,904', '1,039,869',
       '99,165,609', '20,518,224', '1,971,135', '312,136', '201,010',
       '132,088,910', '54,100,000', '127,706,877', '10,880,926',
       '10,706,786', '35,565,975', '4,806,750', '5,051,927', '93,300,000',
       '1,000,000', '42,929,971', '13,248,477', '64,001,297', '2,974,308',
       '37,431,431', '22,715,908', '67,771,442', '19,755,422',
       '73,023,275', '4,007,792', '1,626,289', '3,998,889', '12,533,911',
       '2,839,256', '128,579,698', '5,205,343', '54,983,983',
       '21,318,194', '84,293', '8,518,148', '12,583,510', '35,000,629',
       '976,847', '37,331,031', '145,778', '63,400,000', '7,009,668',
       '80,574,010', '47,781,388', '5,600,000', '200,000', '134,455,175',
       '25,957,696', '3,200,000', '308,164', '32,741,596', '15,986,272',
       '13,710,572', '4,756,532', '42,194,060', '347,321', '7,366,736',
       '8,134,217', '72,266,306', '419,361', '1,341,151', '2,839,456',
       '121,500,000', '154,485,963', '54,132,596', '24,967,943',
       '46,982,632', '55,400,000', '2,536,460', '39,697,363', '2,367',
       '140,901', '21,379,315', '292,923', '480,926', '126,597,121',
       '1,231,550', '82,468,131', '44,478,018', '1,300,000', '2,209,479',
       '6,426,953', '2,586,310', '21,254,983', '10,500,000', '32,000,000',
       '114,053,579', '104,880,310', '35,764,982', '17,364,602',
       '14,037,964', '26,800,000', '598,103', '67,631,157', '88,800,000',
       '22,099', '12,610,731', '8,874,389', '529,426', '2,664,765',
       '241,250,669', '107,506,776', '10,572,742', '52,277,485',
       '1,800,000', '300,000', '15,687,400', '6,100,613', '63,883,740',
       '54,218,420', '175,088', '19,375,474', '15,425,870', '38,200,000',
       '2,365,931', '231,512', '52,000,189', '102,981,571', '14,443,077',
       '4,900,000', '1,940,202', '39,712', '14,400,987', '22,877,808',
       '25,077,977', '700,000', '234,141,872', '1,616,556', '465,786',
       '27,503,677', '1,736,708', '25,658', '75,604,320', '13,900,000',
       '15,988,876', '453,079', '279,167,575', '8,300', '13,351,235',
       '3,328', '19,000,000', '16,302,332', '1,688,620', '3,752,818',
       '89,602,378', '519,730', '301,194', '104,286', '12,711,889',
       '4,519,967', '28,031,250', '34,187,787', '31,155,435',
       '36,800,000', '30,212,620', '42,500,000', '3,014,541',
       '53,021,560', '127,490,802', '105,765,605', '1,566,027',
       '1,110,286', '948,054', '368,000,000', '45,299,680', '1,634,064',
       '44,667,095', '406,235', '82,989,109', '15,176,515', '466,986',
       '723,714', '115,088,305', '35,966', '303,001,229', '64,209,101',
       '252,018', '10,127,352', '15,655,665', '1,569,618', '116,783',
       '18,356,529', '20,467,547', '4,300,353', '8,616,662', '71,844,424',
       '44,566,004', '3,900,000', '43,800,000', '262,586', '118,683,135',
       '709,133', '541,457', '9,500,000', '18,013,938', '67,169,549',
       '257,704,099', '3,349,167', '363', '11,827,301', '793,352',
       '63,595', '16,614,132', '146,336,178', '20,433,940', '3,596,939',
       '190,871,149', '72,601,713', '6,002,708', '93,008,426',
       '116,638,030', '22,838,662', '5,696,752', '320,676', '7,156,725',
       '5,617,321', '10,279,192', '81,110,575', '13,432,508',
       '15,504,419', '109,176,215', '148,734,225', '66,580,191',
       '6,515,869', '1,121,000', '13,985,117', '106,604,314',
       '13,737,564', '73,058,679', '42,168,445', '261,835,892',
       '164,454,835', '3,185,193', '29,885,424', '7,518,962',
       '19,548,064', '2,021,399', '109,257', '13,592,311', '586,242',
       '102,515,793', '57,000,000', '13,155,823', '119,000,000',
       '37,442,180', '20,218,921', '27,696,504', '299,300,000',
       '14,244,145', '5,851,913', '127,083,765', '39,418,953',
       '31,670,931', '707,672', '2,027,042', '4,683,159', '33,408,732',
       '1,149,350', '1,260,219', '3,400,000', '177,575,142', '53,100,000',
       '463,914', '40,632,110', '214,813,155', '123,188,232', '4,894,004',
       '241,672', '20,900,803', '1,626,909', '10,928,042', '8,856',
       '33,200,000', '26,973,524', '11,348,612', '1,526,248',
       '13,630,226', '41,407,470', '101,368', '35,003,216', '15,133,185',
       '38,120,554', '549,351', '176,049,130', '18,472,363', '95,111,012',
       '81,157,671', '14,260,193', '209,805,005', '12,900,000', '16,632',
       '13,617,501', '4,436,352', '74,223,625', '39,532,308', '4,341,275',
       '9,404,922', '2,500,000', '18,173,360', '410,077', '2,395,410',
       '18,602,895', '118,253', '32,700,000', '15,536,310', '34,600,000',
       '8,888,355', '9,262,318', '227,946,274', '90,672,025',
       '97,661,826', '72,413', '58,255,287', '766,428', '88,658,172',
       '144,738,046', '5,689,784', '2,646,396', '98,000,000',
       '41,800,000', '2,927,972', '36,873,198', '2,782,548', '72,700,000',
       '581,813', '1,320,005', '25,335,935', '1,416,189', '59,371',
       '794,306', '33,886,034'], dtype=object)

In [8]:
def money_str_to_int(ms):
    return int(ms.replace(",", ""))

In [9]:
df.box_office = df.box_office.apply(lambda x: money_str_to_int(x) if type(x) == str else -1)
df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,-1,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,600000,108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,-1,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,-1,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,-1,200 minutes,NaN

In [10]:
len(df[df.box_office == -1])

1220

In [11]:
len(df[df.box_office != -1])

340